body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
} 

.main{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    height: auto;
    background-color:  hsl(0, 0%, 12%) ;
    border-radius: 10px;

}

img{
    display: block;
    margin:auto;
    border-radius: 50%;
    width: 30%;
    height: auto;
}

h2{
    text-align: center;
    color:  hsl(0, 0%, 100% );
}

.location{
    text-align: center;
    color: hsl(75, 94%, 57%);
    line-height: 2px;
    
}

.title{
    text-align: center;
    padding-top: 18px;
    font-weight: 5px;
}

button{
    display: block;
    margin: 0 auto;
    background-color:  hsl(0, 0%, 20%) ;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 80%;
    height: auto;
} 

button:hover{
    background-color: hsl(75, 94%, 57%) ;
}

.Links{
    color: hsl(0, 0%, 100% ) ;
    padding: 10px;
}

.coded-by{
    display: block;
    color: grey;
    text-align: center;
}

@media only screen and (max-width: 900px){
    body{
        width: 480px;
        height: auto;
    }
}